<div class="panel-group" id="accordion">
    {{#MenuItems}}
    <div class="panel panel-info">
        <div class="panel-heading rootMenu" data-toggle="collapse" data-target="#{{Name}}Menu">
            {{#unless Selected}}
            <a href="/{{LowerName}}/">
            {{/unless}}

            <img src="/menu/{{LowerName}}-icon.png"/><span>&nbsp;{{Name}}</span>

            {{#unless Selected}}
            </a>
            {{/unless}}
        </div>
        <div id="{{Name}}Menu" class="panel-collapse {{#if Expanded}}in{{else}}collapse{{/if}}">
            <div class="panel-body">
                <ul class="nav">
                    {{#each Topics}}
                    <li data-articles="{{ArticlesUrl}}" data-loaded="{{Expanded}}">
                        <label>
                            {{#if Url}}
                            {{#if Selected}}
                            {{Title}}
                            {{else}}
                            <a href="{{Url}}">{{Title}}</a>
                            {{/if}}
                            {{else}}
                            {{Title}}
                            {{/if}}
                        </label>
                        {{#if Expanded}}
                        <ul class="nav in">
                            {{#Articles}}
                            <li{{#if Indented}} class="indented" {{/if}}>
                                {{#if Url}}
                                {{#if Selected}}
                                <a class="selectednavlink" href="{{Url}}">{{Title}}</a>
                                {{else}}
                                <a class="navlink" href="{{Url}}">{{Title}}</a>
                                {{/if}}
                                {{else}}
                                {{#if Selected}}
                                <div class="selectednavlink">{{Title}}</div>
                                {{else}}
                                <div class="navlink">{{Title}}</div>
                                {{/if}}
                                {{/if}}
                    </li>
                    {{/Articles}}
                </ul>
                {{/if}}
                </li>
                {{#unless @last}}
                <li class="nav-divider"></li>{{/unless}}
                {{/each}}
                </ul>
            </div>
        </div>
    </div>
    {{/MenuItems}}
</div>
