<!DOCTYPE html>
<html>
<head>
    {{>Head}}
    <meta name="robots" content="noindex" />
</head>
<body>
    <div id="wrap">
        <div class="container">
            {{>Header}}
            <div class="row row-offcanvas row-offcanvas-right">
                <div class="col-xs-12 col-sm-9 contentArea">
                    {{>MenuButton}}
                    <h1 class="mainTitle">Last Reviewed</h1>
                    <table> 
                        <thead>
                            <tr>
                                <th>Reviewed</th>
                                <th>Page</th>
                            </tr>
                        </thead>
                        {{#Pages}}
                        <tr>
                            <td>      
                                <span class="time-ago">{{Reviewed}}</span>
                            </td>
                            <td>
                                <a href="{{Url}}" class="name">{{Title}}</a><br />
                                <small>Parent: <a href="{{Url}}" class="name">{{Url}}</a></small>
                            </td>
                        </tr>
                        {{/Pages}}
                    </table>
                </div>
                <div id="sidebar" class="col-xs-6 col-sm-3 sidebar-offcanvas">
                    {{>Navigation}}
                </div>
            </div>
        </div>
    </div>
    {{>Footer}}
    {{>Foot}}
</body>
</html>